{% extends 'base.html.twig' %}

{% block title %}Gestion de statistique | Test d'API{% endblock %}

{% block body %}

<p>Speedruns</p>
<div class="container">
    <div class="row" style="padding-top: 10px;">
        {% for speedrun in api.data %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <h3 class="card-header" style="background: #CCC;"><a href="{{ speedrun.weblink }}" <p> {{ speedrun.names.international }}</p></a></h3>
                    <div class="card-body" style="background: #848484;">
                    {# {{ dump(speedrun) }} #}
                    {% set image=attribute(speedrun.assets, 'cover-medium') %}
                    {# {{ dump(attribute(image, 'uri')) }} #}
                    <img src={{ attribute(image, 'uri') }}>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}