{% extends 'base.html.twig' %}

{% block title %}Gestion de statistique | Liste des regions{% endblock %}


{% block body %}

    <div class="container">
        <div class="row">

{% for region in regions  %}
            <div class="col-md-4">
                <div class="card mb-2">
                    {# <img style="height: 200px; width: 100%; display: block;" src="{{ region.avatar }}" alt="Card image"> #}
                    <h3 class="card-header">{{ region.RegNom }} {{ region.RegCode }} </h3>
                    <div class="card-body">
                        {# <p>{{ region.adresse | raw }}, {{ region.codePostal }}, , {{ region.ville }}</p> #}
                        {# <p>Téléphone: {{ region.tel }}</p> #}
                        {# <p>Mail: {{ region.mail }}</p> #}
                        {# <h6 class="card-subtitle text-muted rounded-circle">Catégorie: {{region.categorie.designation}}</h6> #}
                        {# <h7 class="card-subtitle text-muted">Prix: {{region.prix}} $</h7> #}
                        {# <h8 class="card-subtitle text-muted"> {{ region.CreatedAt | date('d/m/Y')}} </h8> #}
                    </div>
                </div>
                {# <a href="{{ path('edit_region', {'id':region.id}) }}" class="btn btn-primary">EDITER</a> #}
                {# <a href="{{ path('show_region', {'id':region.id}) }}" class="btn btn-primary">SUITE</a> #}
            </div>
{% endfor %}
        </div>
    </div>

{% endblock %}
