
{% extends 'base.html.twig' %}
{% block stylesheets %}
    <head>
        <link type="text/css" href="jquery-ui/css/smoothness/jquery-ui-1.10.3.custom.css" rel="stylesheet" />  
    </head>
{% endblock %}

{% block titre 'Nombre de visiteurs par region' %}

{% block body %}
<div class='container'>
    <h1 style="margin-top:25px;">Liste des visiteurs qui ont commencé à travailler dans la région à une période donnée</h1>
    <p>Choisir une région et une période donnée : </p>
    {{ form_start(form)}}
        <div class="form-group">
            {{form_widget(form)}}
        </div>
        <button type="submit" class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}
        <table class='table table-hover'>
        <tr>
            <th>Visiteur Id</th>
            <th>Département Id</th>
            <th>Matricule</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
            <th>Date Embauche</th>
        </tr>
        {% for levisiteur in listevisiteurs %}
        <tr>
            <td>{{levisiteur.Id}}</td>
            <td>{{levisiteur.VisDep.Id}}</td>
            <td>{{levisiteur.VisMatricule}}</td>
            <td>{{levisiteur.VisNom}}</td>
            <td>{{levisiteur.VisAdresse}}</td>
            <td>{{levisiteur.VisCp}}</td>
            <td>{{levisiteur.VisVille}}</td>
            <td>{{levisiteur.VisDateembauche| date("d/m/Y")}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
{% block javascripts %}
    <script type="application/javascript" src="jquery-ui/js/jquery-1.9.1.js"></script>  
    <script type="application/javascript" src="jquery-ui/js/jquery-ui-1.10.3.custom.js"></script> 
    <script type="application/javascript" src="jquery-ui/js/jquery.ui.datepicker-fr.js"></script>
    <script type="application/javascript"> 
        $(document).ready(function() { 
            $("#visitr_reg_per_date_debut").datepicker({ 
                defaultDate: "+1w", 
                numberOfMonths: 2, 
                changeMonth: true, 
                changeYear: true, 
                yearRange: '-10:+1', 
                maxDate: '+2Y', 
                onClose: function( selectedDate ) { 
                $("#date_fin").datepicker("option", "minDate", selectedDate); 
                } 
            }); 
            $("#visitr_reg_per_date_fin").datepicker({ 
                defaultDate: "+1w", 
                numberOfMonths: 2, 
                changeMonth: true, 
                changeYear: true, 
                maxDate: '+2Y', 
                onClose: function( selectedDate ) { 
                $("#date_debut").datepicker("option", "maxDate", selectedDate); 
                } 
            });     
        });
    </script>
    {% endblock %}
    

			